<html>
<head>
</head>
<body>
<form action="?page=resolve-resource" method="post">
	<input type="submit" value="I finished" style="float: right;"/>
	<div class="container" style="clear: both">
		{{{ resource }}}
	</div>
	<input type="hidden" name="resource" value="{{ resource_id }}"/>
	<input type="hidden" value="{{ return_url }}" name="return_url"/>
</form>
</body>
</html>